http_port 3129

auth_param basic program /usr/lib/squid/basic_ncsa_auth /etc/squid/passwd
auth_param basic children 5
auth_param basic realm Squid proxy-caching web server
auth_param basic credentialsttl 2 hours
auth_param basic casesensitive on

acl all_ports port 1-65535
acl all_methods method GET POST PUT DELETE OPTIONS HEAD PATCH CONNECT
acl all src 0.0.0.0/0

acl allowed_ips src 192.168.1.0/24 1.2.3.4

acl authenticated proxy_auth REQUIRED

http_access allow allowed_ips all_ports all_methods
http_access allow authenticated all_ports all_methods
http_access deny all
